<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="BTLCSDLWEBConnectionString2" connectionString="Data Source=DESKTOP-DI6CE7U\SQLEXPRESS;Initial Catalog=BTLCSDLWEB;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="BTLCSDLWEBConnectionString" connectionString="Data Source=DESKTOP-DI6CE7U\SQLEXPRESS;Initial Catalog=BTLCSDLWEB;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  <add name="BTLASPConnectionString" connectionString="Data Source=DESKTOP-DI6CE7U\SQLEXPRESS;Initial Catalog=BTLCSDLWEB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <pages enableEventValidation="false"/>
  </system.web>
</configuration>
