html {
    display: block;
    color: -internal-root-color;
}
#menu {
    background: green;
    height: 31px;
    margin: 0 5px 1px;
    position: relative;
    z-index: 99;
}
.bg_inner {
    background: green;
}
body {
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    background: green;
}