.lof-slidecontent,.lof-slidecontent a{color:#FFF}
.lof-slidecontent a.readmore{color:#58B1EA;font-size:95%}
.lof-slidecontent{position:relative;overflow:hidden;border:#F4F4F4 solid 0}
.lof-slidecontent .preload{height:100%;width:100%;position:absolute;top:0;left:0;z-index:100000;text-align:center;background:#FFF}
.lof-slidecontent .preload div{height:100%;width:100%;background:transparent url(../images/load-indicator.gif) no-repeat scroll 50% 50%}
.lof-main-outer{position:relative;height:100%;width:900px;z-index:3px;overflow:hidden}
.lof-main-item-desc{display:none}
.lof-main-item-desc p{margin:0 8px;padding:8px 0}
.lof-main-item-desc h3{margin:0;padding:0}
.lof-main-item-desc h2{margin:15px 0 0;padding:0}
.lof-main-item-desc h3 a{background:#C01F25;font-size:75%;font-family:"Trebuchet MS",Trebuchet,Arial,Verdana,sans-serif;text-transform:uppercase;text-decoration:none;margin:0;padding:2px 3px}
.lof-main-item-desc h3 a:hover{text-decoration:underline}
.lof-main-item-desc h3 i{font-size:70%}
ul.lof-main-wapper{background:transparent url(../images/load-indicator.gif) no-repeat scroll 50% 50%;position:absolute;overflow:hidden;margin:0;padding:0}
ul.lof-main-wapper li{overflow:hidden;float:left;position:relative;margin:0;padding:0}
.lof-opacity{overflow:visible!important;position:absolute!important}
.lof-opacity li{position:absolute!important;top:0;left:0;float:inherit!important}
ul.lof-main-wapper li img{padding:0}
.lof-navigator-wapper{position:absolute;bottom:10px;right:10px;background:#000;-moz-border-radius:5px;padding:5px 15px}
.lof-navigator-outer{position:relative;z-index:100;height:180px;width:310px;overflow:hidden;color:#FFF;float:left}
ul.lof-navigator{top:0;position:absolute;width:100%;margin:0;padding:0}
ul.lof-navigator li{cursor:pointer;list-style:none;margin-left:0;overflow:hidden;float:left;display:block;text-align:center;padding:0}
ul.lof-navigator li.active,ul.lof-navigator li:hover{background:#FFF;color:#000;display:block}